@media (max-width: 768px) {
    .page_search .section {
        float: left;
        width: 100%;
        margin-top: 1.43rem;
    }
}

@media (min-width: 768px) {
    .page_search .section {
        float: right;
        width: 50%;
        margin-top: 1.43rem;
    }
}

#authorsClassicTheme, #sectionsClassicTheme {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
}